@import "~bootstrap/scss/bootstrap";

.HomePage{
    text-align: center;

    .textInput{
        margin-top: 5px;

        input{
            width: 200px;
        }
    }

    .GenMatrix{
        width: 40%;
        margin-left: auto;
        margin-right: auto;

        .Matrix{
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            text-align: center;

            .row{
                min-height: 30px;
            }
        }

        button{
            margin-top: 10px;
        }
    }

    .displayDecrypt{
        margin-top: 5px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .ContainMatrix{
            margin-left: 10px;
            margin-right: 10px;

            .decryptText{
                color: blue;
                font-size: 17px;
                margin-top: 5px;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }

    .displayEncrypt{
        margin-top: 5px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .ContainMatrix{
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .Result{
        margin-top: 5px;
    }
}

